html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.domino-container {
  text-align: center;
}

.domino-card {
  width: 60px;
  height: 100px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.domino-card:hover {
  transform: translateY(-5px);
}

.domino-half {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #333;
}

.domino-divider {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

.double-numbers {
  color: white;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-right: 10px;
}

.btn {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

.error {
  color: red;
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}
